
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


body{
    background-color: #FFFFFF;
}



.flex-container{
    display: flex;
   
}

#produtos, #carrinho{
    float: left;
    background-color: #F9F6F6;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:  #9c9794; 
    font-size: 16px; 
    font-family: 'Quicksand', sans-serif;

}


#produtos{
    max-width:  200px;
    margin:0 auto;
    padding: 0 2%;
    display: flex;
}

#carrinho{
    max-width:  200px;
    /* margin:0 auto; */
    padding: 0 7%;
}

.produto-single{
    width: 33.3%;
   padding: 0 20px;
   background-color: #F9F6F6;

}

img{
    width: 80px;
    height: 80px;
    /* border: 1px solid black; */
}

.botao-comprar{
    /* background-color: #FFA500; */
    padding: 15%;
}


.botão-adicionar-carrinho{
    color: white;
    background-color: #FFA500;
    /* padding: 25%; */
    height: 37px;
    width: 79px;
    font-size: 9pt;
}

/* a:link{
    color: #FFFFFF;
} */


.botão-adicionar-carrinho a{
    color: #FFFFFF;
    text-decoration: none;

}

.vitrine{
    color:  #9c9794;
}