#produtos{
    max-width:  200px;
    margin:0 auto;
    padding: 0 2%;
    display: flex;
}

#carrinho{
    max-width:  200px;
    margin:0 auto;
    padding: 0 2%;
    display: block;
}

.produto-single{
    width: 33.3%;
   padding: 0 20px;

}

img{
    width: 80px;
    height: 80px;
}